.big{
 font-size: 3em !important;
 text-align: center;
}

.by{
 position: fixed;
 bottom: 1em;
 right: 1em;
 font-size: small;
}

.pln, .pun, blockquote{
 color: #333 !important;
}

ul{
 font-size: 16pt !important;
}
