[submodule "html5css3/thirdparty/revealjs"]
	path = html5css3/thirdparty/revealjs
	url = https://github.com/hakimel/reveal.js.git
[submodule "html5css3/thirdparty/deckjs"]
	path = html5css3/thirdparty/deckjs
	url = https://github.com/imakewebthings/deck.js
